@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */
.custom-header {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  height: 100vh;           /* Full viewport height */
  width: 100%;             /* Full width */
}

.custom-link {
  color: white; /* Text color */
  
}

.custom-button {
  background-color: #000000; /* Button background color */
  color: rgb(255, 255, 255); /* Button text color */
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  size: 20;
}

.custom-button:hover {
  background-color: #ffffff; /* Button background color on hover */
}

/* attempting to edit the homepage */
.home-button {
  background-color: #000000; /* Button background color */
  color: rgb(255, 255, 255); /* Button text color */
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  font-size: 36px;            /* Makes the text larger */
  padding: 20px 30px;
  size: 20;
}

.home-header {
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;     /* Centers vertically */
  height: 100vh;           /* Full viewport height */
  width: 100%;             /* Full width */
}

/* Chat page */
.chat-container {
  display: flex;
  border: 1px solid;
  flex-direction: column;
  padding: 1em;
  margin: -1em 1em 1em -1em;
  justify-content: space-between;
  height: 500px;
}