<.header>
  (BETA) Live Chat Service
  <h1>
    Discuss with other online members about your task planning
  </h1>
  <:actions>
      <.link href={~p"/tasks"}>
        <.button>Return</.button>
      </.link>
    </:actions>



  <div id="chat-container">
    <div id="history">
      chat goes here
    </div>
  </div>

  <div id="messages" role="log" aria-live="polite">
    hello
    <input id="chat-input" type="text"> 
  </div>



</.header>


